{% extends "main/base.html" %}
{% block title %}Create Product{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1 class="mb-4">Create Product</h1>

    <form method="post" action="{% url 'create_product' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex gap-2 mt-3">
        <button type="submit" class="btn btn-bu">Create Product</button>
        <a href="{% url 'products' %}" class="btn btn-outline-secondary">Back to Products</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}